[submodule "submodules/mmpose"]
	path = submodules/mmpose
	url = https://github.com/open-mmlab/mmpose
[submodule "submodules/multiview_eth_xgaze"]
	path = submodules/multiview_eth_xgaze
	url = https://github.com/OSLabTools/multiview_ETH_XGaze
