.vscode/
.idea/
__pycache__
**/__pycache__

docs/build/
docs/html/
docs/latex/

builds/

assets/
assets/
output/
**/envs/
**/env/
**/*.pth

doc/release_notes/*.pdf
**/*.bib
**/*.aux
**/*.fls
**/*.log
**/*.fdb_latexmk
**/*.synctex.gz

configs/machine_specific_paths.toml

third_party/emoca/emoca/assets
third_party/emoca/emoca/image_output
