.vscode/
.idea/
__pycache__
**/__pycache__
**.egg-info

docs/_build/
docs/_autosummary/
docs/release_notes/*.pdf

builds/
output/
artifacts/

**/assets/
**/envs/
**/env/
**/venv/
**/*.pth
**/*.bib
**/*.aux
**/*.fls
**/*.log
**/*.fdb_latexmk
**/*.synctex.gz
**/*.tar
**/*.dat
**/*.cpk
**/*.ckpt
**/*.nemo
**/*.avi
nicetoolbox/**/*.mp4

machine_specific_paths.toml
nicetoolbox/detectors/configs/tests*
nicetoolbox/detectors/*tests*
