.vscode/
.idea/
__pycache__
**/__pycache__

doc/_build/*

output/
**/envs/
**/env/
**/*.pth

configs/machine_specific_paths.toml
*.tex~
*.bib~

third_party/emoca/emoca/assets
third_party/emoca/emoca/image_output
