repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: autopep8
        name: autopep8
        entry: autopep8 -i
        language: system
        exclude: ^doc/
        types: [ python ]
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [ python ]
#        args:
#          [
#            "-rn", # Only display messages
#            "-sn", # Don't display the score
#          ]
  - repo: local
    hooks:
      - id: codespell
        name: codespell
        entry: codespell
        language: system
        types: [ python ]
