repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: requirements-txt-fixer
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-toml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        types_or: [ python, pyi, toml ]
        args: [ --fix ]
      - id: ruff-format
        types_or: [ python, pyi, toml ]
  # - repo: local
  #   hooks:
  #     - id: pylint
  #       name: pylint
  #       entry: pylint
  #       language: system
  #       types: [ python ]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      additional_dependencies:
        - tomli

exclude: |
    (?x)^(
        nicetoolbox/detectors/third_party/mmpose/mmpose/.*|
        nicetoolbox/detectors/third_party/xgaze_3cams/xgaze_3cams/.*
    )$
