# py-feat fork
py-feat @ git+https://github.com/OSLabTools/py-feat.git@v2.1.1
# py-feat doesn't have any native export format and produce big pandas table
# to serialize it efficiently we use parquet
pyarrow==25.0.1
